.button1{
    border: 1px solid black;
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    font-size: 13px;
    color: #333333;
}
.button1:disabled{
    color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);
}
.button2{
    border: 1px solid black;
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    font-size: 13px;
    color: #333333;
}