<section id="about" class="pt-130">
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_content pt-120 pb-130">
                        <div class="section_title pb">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">About Our
                            Friendship</h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Zunaira and I were introduced to
                                each other for the very first time in 2015 after the marriage of my cousin. We became best friends in
                                2016 and since then we have been feeling special just because of this Friendship. We spent very beautiful time
                                togather and enjoyed every moment. We made some very beautiful memories togather and very distrassing too. That still hurts me.
                            </p>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">After all those years, those distressing memories, 
                                Zunaira and I are still best friends and we will always be. I never felt lonely, since i have become friend with Zunaira.
                                There are lots of things we planned that we will do togather, and we will make many many more good memories. I know future is
                                misterious but we will always hope for the best.
                            </p>
                        </div> 
                        <!-- <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a>-->
                    </div> 
                </div>
            </div> 
        </div> 
        <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(assets/images/aboutus.jpeg)">
            <div class="image_content">
                <h4 class="experience"><span>6</span> Years of Friendship</h4>
            </div>
        </div> 
    </div>
</section>

<section id="about" class="pt-130">
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_content pt-120 pb-130">
                        <div class="section_title pb">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">About Our
                            <br/>Relationship</h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Due to our deep
                                friendship we fell in love with each other in 2016 but we never expressed our feelings. This was one of the biggest mistakes we made in the past.
                                We expressed our feeling to each other a year later but it was too late. Then, We decided to stay
                                friends. Due to some reasons I stopped talking and texting to Zunaira. I never even looked at her 
                                properly for 2 - 3 years.
                            </p>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">We again fell in love with each other in 2020. 
                                Actually! My family had issues and due to that reasons we shifted to my cousins home for a month. I met with Zunaira there.
                                After a whole week of silence, on December 13, 2020, Zunaira texted me and we started to talk again. Since then, We have been in a very 
                                deep relation and living each second of our life. We wait all day just to talk to each other, to spend some time togather, and just to say that how much we love each other.
                            </p>
                        </div> 
                        <!--<a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a>-->
                    </div> 
                </div>
            </div> 
        </div> 
        <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(assets/images/aboutusr.jpeg)">
            <div class="image_content">
                <h4 class="experience"><span>1.5</span> Years of Relationship</h4>
            </div>
        </div> 
    </div>
</section>